<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <title>Twitch SPAM Bot</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        {% endblock head %}
    </head>
    <body>
        {% block body %}
        <nav class="navbar navbar-expand navbar-dark bg-dark mb-sm-3">
            <a class="navbar-brand" href="/">S.P.A.M.</a>
            <div class="navbar-nav mr-auto">
                {% for name, href in [("home", "/home"), ("dashboard", "/dashboard"), ("insights", "/insights")] %}
                <div class="nav-item {{"active" if name == active else ""}}">
                    <a class="nav-link" href="{{href}}">{{name}}</a>
                </div>
                {% endfor %}
            </div>
        </nav>
        <div class="container-fluid">
            {% block content %}
            <h1>Twitch Statistic Parsing And Moderation Bot</h1>
            {% endblock content %}
        </div>
        {% endblock body %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>
